/*
/= require_tree .
/= require_self
*/

/*General*/

hr{
	margin-top: -15px;
}

#container {
	padding: 0 10px;
}

.alert-box .alert{
	margin-bottom: 35px;
	margin-left: 15px;
	margin-right:15px;
}




/*Form*/

@media all and (min-width: 768px){
	.form-offset{
		padding-left: 23px;
	}
}

@media all and (max-width: 767px) and (min-width: 501px){
	.form-offset{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

}
@media all and (max-width: 767px){
	.input > .columns {
		padding: 0 15px 0 15px !important;
	}

}


@media all and (max-width: 500px){
	.form-offset{
		padding-left: 15px ;
		padding-right: 15px ;
	}


	.input > .columns {
		padding-left: 0;
		padding-right: 0.5375em;
	}
}

.input > div {
	z-index:10;
}


/*Top Nav*/

.top-bar-section ul li > a {
	font-weight: normal;
}

.top-bar .name h1 a {
	font-weight: normal;
}